root = true

# Unix-style (should work on osx and linux)  newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Language specific configs
[*.lua]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.rb]
indent_style = space
indent_size = 2
